@use './rainbow.scss';
@use './vars.scss';
@use './vitepress.scss';
@use './medium-zoom.scss';
@use './tailwind.scss';

table tr:nth-child(odd) {
  border-color: var(--vp-custom-block-tip-border);
  color: var(--vp-custom-block-tip-text);
  background-color: var(--vp-custom-block-tip-bg);
}
